@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: Raleway;
}
.Header{
    margin-top: -3.5vh;
    border: 1px solid red;
}
.Logo{
    margin-bottom: -5%; /* Deleting hole between .Nadpis and .Logo */
    text-align: center; /* Gets content to center */
}
.Logo_Image{
    width: 11vh;
}
.Nadpis{
    text-align: center; /* Gets content to center */
    letter-spacing: 1vh;
}
h1{
    font-size: 80px;
    margin-bottom: 3vh; /* Hole between h1 and .Header */
    font-weight: 300; /* Thickness of text */
}
.Main{
    /* makes 3 sections to be next to each other */
    display: flex;
    flex-wrap: wrap;
}
#Part1{
    flex: 1; /* Grow to fill available space */
    border: 1px solid green;
    transition: box-shadow 0.3s ease;
}
#Part2{
    flex: 1; /* Grow to fill available space */
    margin-left: 0.5vh; /* room between parts */
    margin-right: 0.5vh; /* room between parts */
    height: 77vh; 
    border: 1px solid green;
    transition: box-shadow 0.3s ease;
}
#Part3{
    flex: 1; /* Grow to fill available space */
    border: 1px solid green;
    transition: box-shadow 0.3s ease;
}
.Kontakty{
    display: flex ;     
    border: 1px solid purple;
}
.Kontakty1{
    border: 1px solid black; 
    display: flex; 
    justify-content: center;
    align-items: center;    
    width: 100%;
}
.Kontakty2{
    font-size: 300;
    letter-spacing: 1vh;
    color: black;
    text-decoration: none;
    font-size: 45px;
    margin-top: 1vh;
}
.Vnitřní{
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 1vh;
    color: black;
    text-decoration: none;
}
.obdelník_A{
    margin-top: 28vh;
    text-align: center;
    

}

.Venkovní{
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 1vh;
    color: black;
    text-decoration: none;
}
.obdelník_B{
    margin-top: 28vh;
    text-align: center;
}
.Střešní{
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 1vh;
    color: black;
    text-decoration: none;
}
.obdelník_C{
    margin-top: 28vh;
    text-align: center;
}
a{
    text-decoration: none;
    cursor: pointer;
}
#Part1:hover{
    font-weight: 600;
    box-shadow: 0 0 20px 10px rgba(65, 105, 225, 0.418);
}
#Part2:hover{
    font-weight: 600;
    box-shadow: 0 0 20px 10px rgba(65, 105, 225, 0.418);
}
#Part3:hover{
    font-weight: 600;
    box-shadow: 0 0 20px 10px rgba(65, 105, 225, 0.418);
}
